body {
 font-size: 17px;
 margin: 0px;
}

img {
 width: 1349px;
 height: 180px;
 margin: 0px;
 padding: 0px;
}

.title {
 text-align: center;
 background-color: #FFD008;
 padding-top: 10px;
 padding-bottom: 10px;
 margin-top: -5px;
 width: 100%;
}

.part1 {
 background-color: #F6BF52;
 margin-right: -0.3px;
 margin-bottom: -5px;
 padding: 10px;
}

.part1 p {
 margin-top: 40px;
 margin-bottom: -20px;
 margin-left: 20px;
 font-size: 17px;
}

.part1 img {
 width: 100%;
 width: 400px;
 margin-left: 900px;
 margin-top: -90px;
}

.part2 {
 background-color: #EDA13D;
 margin-right: 0.5px;
 padding: 10px;
 box-sizing: border-box;
 width: 100%;
}

.part3 {
 background-color: #FFD37D;
 margin-right: 0.5px;
 padding: 10px;
 box-sizing: border-box;
 width: 100%;
}

.part3 img {
 width: 80vh;
 height: 65vh;
 margin-top: -350px;
}

.part3 span {
 display: inline-block;
 margin-bottom: -120px;
 margin-top: 50px;
 margin-left: 650px;
}